// Solarized base colors
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;
@mixin profile-img-header {
  flex: 0 0 50px;
  margin-right: 10px;
  padding-top: 5px;
  .profile-img {
    border-radius: 50%;
  }
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

hr {
  border: 1px solid $base0;
  margin: 0;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  .sidebar {
    flex: 1 0 auto;
    width: 200px;
    background-color: $base02;
    .app-global-nav {
      .app-nav-menu {
        padding: 20px;
        a {
          text-decoration: none;
          color: $base0;
        }
      }
      .app-nav-items {
        list-style: none;
        padding: 0 0 5px 0;
      }
    }
  }
  /*JUNE 19 Fix vertical sections by using Flexbox */
  .contents {
    flex: 2 1 auto; // overflow: scroll;
    width: 100%;
    padding: 0px;
    background-color: $base03;
    color: $base0;
    .header-component {
      // display: block;
      // height: 100%;
    }
    .header {
      width: 100%; // height: 110px; // position: fixed;
      // height: 20%; // position: fixed;
      .user-field {
        display: flex;
        padding: 20px 10px 10px;
        .left-div {
          @include profile-img-header; // margin-right: 10px;
          // padding-top: 5px;
          // .profile-img {
          //   border-radius: 50%;
          // }
        }
        .right-div {
          flex: 1 1 auto;
        }
        .post-text-area {
          width: 100%;
          height: 60px;
          border: 0;
          padding: 0;
          resize: none;
        }
      }
    }
    .body {
      // display: block;
      overflow: scroll;
      height: calc(100% - 95px);
      width: 100%;
      .timeline {
        width: 100%; // height: 100%;
        .tweet-list-wrapper {
          // height: 100%;
        }
        .tweet-list-container {
          // height: 100%;
        }
        .tweet-list {
          // height: 100%;
          padding: 0 10px;
          list-style-type: none;
          .tweet-item {
            display: flex; // white-space: pre-wrap !important;
            // height: 100%;
            margin-bottom: 20px;
            white-space: pre-wrap;
            .left-div {
              @include profile-img-header; // margin-right: 10px;
              // padding-top: 5px;
              // .profile-img {
              //   border-radius: 50%;
              // }
            }
            .right-div {
              // width: 100%;
              flex: 1 1 auto;
              padding-right: 20px;
              p {
                margin: 0 0 5px;
                word-break: break-all;
                font-size: 14px;
                color: $base1;
              }
              .header-username {
                margin-right: 10px;
                color: $base1;
                font-size: 14px;
                font-weight: 500;
              }
              .header-time {
                font-size: 12px;
              }
              .tweet-footer {
                display: flex;
                .tweet-item-icon {
                  margin-right: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}
